*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

  .BleuBar-container {
    background-color: #cbdbe9;
    height: 25px;
  }
  
  .navbar {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; 
    height: 60px;
    padding: 0 20px;
    border: solid #cbdbe9;
    border-left-width: 0;
    border-right-width: 0;
}
  
  .logo{
    width: 100px;
    cursor: pointer;
  }
  
  .navbar .logo img{
    width: 120px;
    height: 120px;
  } 
  
  div .logo a {
    text-decoration: none;
   
  }


 
  nav {
    flex: 1;
    text-align: center;
  }
  
  
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
  }
  
  nav ul li a{
    text-decoration: none;
    color: #839fba;
    font-size: 25px;
    margin-left: 10px;
  }

  .menu-toggle {
    display: none; 
  }

  
  @media (min-width: 1024px) {
  .logo img {
    width: 90px;
    height: 90px;
    margin-top: 15px;
    }
      nav ul li a {
    font-size: 20px;
    margin-top: 15px;
    }
  }

  @media (max-width: 768px) {
  .logo img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }

  .navbar {
    justify-content: space-between; 
    position: relative;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: #839fba;
    position: absolute;
    top: 15px;
    right: 15px; 
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
  }

  nav.active ul {
    display: flex;
  }

  nav ul li {
    margin: 10px 0;
    text-align: center;
  }
}
